.ic-anomaly-wrapper {
  padding: 5px;
}

.ic-anomaly-header {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .ic-anomaly-selection {
    display: grid;
    grid-template-columns: 120px 120px;
    grid-column-gap: 10px;
  }

  .ic-anomaly-label-wrapper {
    text-align: right;
    position: relative;

    .ic-anomaly-label {
      position: absolute;
      right: 0;
      padding: 5px 10px 5px 10px;
      background-color: white;
      color: #293742;
      font-weight: bolder;
      border-radius: 10px;
    }
  }
}