<!--
    @author Chathura Widanage <chathurawidanage@gmail.com>
-->
<html>

<head>
    <link rel="stylesheet" href="static/style.css" />
</head>

<body>
    <!--Track-->
    <div id="drawing"></div>
    <!--Race Info-->
    <div id="race">
      <h2 id="eventinfo"> </h2>
      <h3 id="timeinfo"> </h3>
      <h4 id="carinfo"> </h4>
      <h4 id="lapinfo"> </h4>
    </div>
    <!--Weather Info-->
    <div id="weather" style="position:absolute; top:0; right:0;">
      <h4 id="ambientTemp"></h4>
      <h4 id="barometricPressure"></h4>
      <h4 id="relativeHumidity"></h4>
      <h4 id="timeofday"></h4>
    </div>

    <div id="entry" style="position:absolute; bottom:0; left:0;">
      <h4 id="carnum"></h4>
      <h4 id="drivername"></h4>
      <h4 id="hometown"></h4>
      <h4 id="teamname"></h4>
      <h4 id="teamid"></h4>
      <h4 id="engine"></h4>
      <h4 id="competitorid"></h4>
      <h4 id="license"></h4>
    </div>

     <div id="sectionspeeds" style="position:absolute; bottom:0; right:0;">
      <h4 id="section1"></h4>
      <h4 id="section2"></h4>
      <h4 id="section3"></h4>
      <h4 id="section4"></h4>
      <h4 id="section5"></h4>
      <h4 id="section6"></h4>
      <h4 id="section7"></h4>
      <h4 id="section8"></h4>
      <h4 id="section9"></h4>
      <h4 id="section10"></h4>
      <h4 id="section11"></h4>
      <h4 id="section12"></h4>
      <h4 id="section13"></h4>
      <h4 id="section14"></h4>
      <h4 id="section15"></h4>
      <h4 id="section16"></h4>
      <h4 id="section17"></h4>
      <h4 id="section18"></h4>
    </div>

    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="static/svg.js" type="text/javascript"></script>
    <script src="static/index.js" type="text/javascript"></script>
</body>

</html>
