html {
    width: 100%;
    margin: 0;
}

body {
    background: url(images/Indianapolis500_Background-01.png) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-x: hidden;
}

body .pre-loader {
    z-index: 9999;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

body .pre-loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

body .header {
    padding: 0 80px 0 80px;
    display: grid;
    grid-template-columns: auto 400px;
}

body .header .title .title-typeface {
    color: white;
    text-shadow: black -1px -1px 0px, black 1px -1px 0px, black -1px 1px 0px, black 2px 2px 0px;
}

body .header .title .event-name {
    font-size: 60px;
    font-weight: 600;
    font-family: 'Racing Sans One', cursive;
}

body .header .title .run-name {
    font-size: 28px;
    font-family: 'Racing Sans One', cursive;
}

body .header .title .start-date {
    font-size: 20px;
    font-family: 'Merriweather', serif;
}

body .header .weather-information {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    text-align: right;
    padding: 5px;
}

body .header .weather-information .weather-indicator {
    margin: 20px;
    font-family: 'Merriweather', serif;
    font-size: 1.5vw;
}

body .header .weather-information .weather-indicator div:first-of-type {
    font-weight: 900;
}

body .track-wrapper {
    position: relative;
    height: 100%;
}

body .track-wrapper .ranking {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 52%;
    transform: translateX(calc(-50% - 50px)) translateY(-50%);
}

body .track-wrapper .ranking .top-3 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 10px;
}

body .track-wrapper .ranking .top-3 div {
    width: 100%;
    background-image: url("images/Ranking background.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 60px;
    font-size: 3vw;
    font-weight: 600;
    font-style: italic;
    color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
}

body .track-wrapper .ranking .rank-2 {
    margin-left: 50px;
}

body .track-wrapper .ranking .rank-3 {
    margin-left: 100px;
}

body .speed-data {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    overflow-x: scroll;
}

body .speed-data .speed-data-rank-wrapper {
    display: grid;
    grid-template-columns: 450px auto;
}

@media (max-width: 1000px) {
    body .speed-data .speed-data-rank-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}

body .speed-data .speed-data-rank-wrapper:not(:last-of-type) {
    margin-bottom: 5px;
}

body .speed-data .speed-data-rank-wrapper .speed-data-info-wrapper {
    display: grid;
    grid-template-columns: 120px auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
}

body .speed-data .speed-data-rank-wrapper .speed-data-info-wrapper .speed-data-car-info {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

body .speed-data .speed-data-rank-wrapper .speed-data-info-wrapper .speed-data-car-info .speed-data-car-info-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

body .speed-data .speed-data-rank-wrapper .speed-data-info-wrapper .speed-data-car-info .speed-data-car-info-middle .speed-data-car-info-number {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
    font-size: 42px;
    background-image: url(images/CarNumbFrame.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
}

body .speed-data .speed-data-rank-wrapper .speed-data-info-wrapper .speed-data-driver-info {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
}

body .speed-data .speed-data-rank-wrapper .speed-data-info-wrapper .speed-data-driver-info .speed-data-driver-info-bio {
    color: #4A4A4A;
    font-style: italic;
}

body .speed-data .speed-data-rank-wrapper .speed-data-info-wrapper .speed-data-driver-info .speed-data-driver-info-bio .speed-data-driver-name {
    font-weight: 600;
    font-size: 5vh;
}

body .speed-data .speed-data-rank-wrapper .speed-data-info-wrapper .speed-data-driver-info .speed-data-driver-info-bio .speed-data-driver-team {
    font-size: 2.5vh;
    margin-top: 5px;
}

body .speed-data .speed-data-rank-wrapper .speed-data-info-wrapper .speed-data-driver-info .speed-data-driver-info-bio .speed-data-driver-hometown {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vh;
    margin-top: 5px;
}

body .speed-data .speed-data-rank-wrapper .speed-data-info-wrapper .speed-data-driver-info .speed-data-driver-info-other {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

body .speed-data .speed-data-rank-wrapper .speed-data-info-wrapper .speed-data-driver-info .speed-data-driver-info-other .speed-data-driver-info-other-col:nth-of-type(1) {
    text-align: left;
}

body .speed-data .speed-data-rank-wrapper .speed-data-info-wrapper .speed-data-driver-info .speed-data-driver-info-other .speed-data-driver-info-other-col:nth-of-type(2) {
    text-align: center;
}

body .speed-data .speed-data-rank-wrapper .speed-data-info-wrapper .speed-data-driver-info .speed-data-driver-info-other .speed-data-driver-info-other-col:nth-of-type(3) {
    text-align: right;
}

body .speed-data .speed-data-rank-wrapper .speed-data-info-wrapper .speed-data-driver-info .speed-data-driver-info-other .speed-data-driver-info-other-col {
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

body .speed-data .speed-data-rank-wrapper .speed-data-info-wrapper .speed-data-driver-info .speed-data-driver-info-other .speed-data-driver-info-other-col div:nth-of-type(2) {
    font-weight: 600;
}

body .speed-data .speed-data-rank-wrapper .speed-data-lap-sections {
    display: grid;
    grid-template-rows: 50px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

body .speed-data .speed-data-rank-wrapper .speed-data-lap-sections .speed-data-lap-sections-title {
    font-size: 24px;
}

body .speed-data .speed-data-rank-wrapper .speed-data-lap-sections .speed-data-lap-sections-info {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    text-align: center;
}

body .speed-data .speed-data-rank-wrapper .speed-data-lap-sections .speed-data-lap-sections-info .speed-data-lap-section {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

body .speed-data .speed-data-rank-wrapper .speed-data-lap-sections .speed-data-lap-sections-info .speed-data-lap-section .speed-data-lap-section-label-wrapper {
    background-image: url(images/label_unfilled.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}

body .speed-data .speed-data-rank-wrapper .speed-data-lap-sections .speed-data-lap-sections-info .speed-data-lap-section .speed-data-lap-section-label-wrapper .speed-data-lap-section-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 2vh;
}

body .speed-data .speed-data-rank-wrapper .speed-data-lap-sections .speed-data-lap-sections-info .speed-data-lap-section .speed-data-lap-section-time {
    margin: 5px 5px 5px 5px;
    font-size: 1.5vw;
}

body .speed-chart-wrapper {
    margin-top: 20px;
    width: 100%;
}

body .speed-chart-wrapper #speed-chart {
    background-color: rgba(255, 255, 255, 0.7);
}